@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  --color-dark-background: #141414;
  --color-dark-title-primary: #f5f5f5;
  --color-dark-text-primary: #9d9d9d;
  --color-dark-tile-secondary: #eb2c2c;
  --color-dark-tile-primary: #1a1a1a;
}

@layer base {
  body {
    font-family: "Oswald", sans-serif;
  }

  body {
    @apply bg-dark-background overflow-x-hidden;
  }

  html {
    scroll-behavior: smooth;
  }
}

/* Custom root layout class for your app */
.root {
  @apply min-h-screen flex flex-col bg-dark-background text-dark-text-primary;
}

.btn-header {
  @apply justify-center whitespace-nowrap rounded-md text-lg font-medium transition-colors
            bg-dark-tile-secondary text-dark-title-primary hover:bg-dark-tile-secondary/90
            h-10 w-15
            flex items-center;
}
.btn-header:hover {
  box-shadow: 0 0 10px 2px rgba(235, 44, 44, 0.3);
}

nav div {
  @apply hover:text-red-500 cursor-pointer;
}

.btn-hero {
  @apply bg-dark-tile-secondary text-white text-lg px-10 py-6 rounded-lg font-semibold transition;
  border: 1px solid transparent;
}
.btn-hero:hover {
  @apply bg-transparent text-dark-tile-secondary border-dark-tile-secondary;
  border: 1px solid var(--color-dark-tile-secondary);
}

.hover-lift {
  @apply transition-all duration-300 hover:-translate-y-2 hover:shadow-xl;
}
